<div class="content__channel">
    <div class="card__channel">
        <div class="div__channel_img">
            <img src="/assets/img/Vector.svg" alt="Cat" class="">
        </div>
        <div>
            <h3>Первый канал</h3>
            <p>13:00 Новости (с субтитрами)</p>
            <p>14:00 Давай поженимся</p>
            <p>15:00 Другие новости (с субтитрами)</p>
        </div>
    </div>

    <div class="card__channel">
        <div class="div__channel_img">
            <img src="/assets/img/2x2.jpg" alt="Cat" class="">
        </div>
        
        <div>
            <h3>2х2</h3>
            <p>13:00 МУЛЬТ ТВ сезон 4</p>
            <p>14:00 Подозрительная сова</p>
            <p>15:00 Бурдашев, сезон 3, серия 4</p>
        </div>

    </div>

    <div class="card__channel">
        <div class="div__channel_img">
            <img src="/assets/img/rbc.jpg" alt="Cat" class="">
        </div>
        
        <div>
            <h3>РБК</h3>
            <p>13:00 ДЕНЬ. Горючая смесь: как бороться с суррогатом на АЗС</p>
            <p>14:00 ДЕНЬ. Главные темы</p>
            <p>15:00 Главные новости</p>
        </div>

    </div>

    <div class="card__channel">
        <div class="div__channel_img">
            <img src="/assets/img/amedia.png" alt="Cat" class="">
        </div>
        <div>
            <h3>AMEDIA PREMIUM</h3>
            <p>13:00 Клиент всегда мёртв</p>
            <p>14:00 Голодные игры: Сойка-пересмешница. Часть I</p>
            <p>15:00 Секс в большом городе</p>
        </div>
    </div>
    <div class="card__channel">
        <div class="div__channel_img">
            <img src="/assets/img/Vector.svg" alt="Cat" class="">
        </div>
        <div>
            <h3>Первый канал</h3>
            <p>13:00 Новости (с субтитрами)</p>
            <p>14:00 Давай поженимся</p>
            <p>15:00 Другие новости (с субтитрами)</p>
        </div>
    </div>
    <div class="card__channel">
        <div class="div__channel_img">
            <img src="/assets/img/amedia.png" alt="Cat" class="">
        </div>
        <div>
            <h3>AMEDIA PREMIUM</h3>
            <p>13:00 Клиент всегда мёртв</p>
            <p>14:00 Голодные игры: Сойка-пересмешница. Часть I</p>
            <p>15:00 Секс в большом городе</p>
        </div>
    </div>

</div>
