<header id="pageHeader" class="header">
  <div>
    <img src="/assets/logo/logo.svg">
  </div>
  <div class="div__header__search">
    <input class="header__input" size="30" value="Поиск...">
    <button class="header__search__button">Найти</button>
  </div>
  <div class="div__header__button"> 
    <button class="header__button">Войти</button>
  </div>
</header>
<article id="mainArticle">Article</article>




<footer id="pageFooter">
   
  <div class="footer__div__content">
    <img src="/assets/logo/htc-cs-logo.svg">
    426057, Россия, Удмуртская Республика, г. Ижевск, ул. Карла Маркса, 246 (ДК «Металлург»)<br>
    +7 (3412) 93-88-61, 43-29-29<br>
    <a href="htc-cs.ru">htc-cs.ru</a>
  </div>

</footer>








<!--
<header class="header" id="pageHeader">
  <div>
    <img src="/assets/logo/logo.svg">
  </div>
  <div class="div__header__search">
    <input class="header__input" size="30" value="Поиск...">
    <button class="header__search__button">Найти</button>
  </div>
  <div class="div__header__button"> 
    <button class="header__button">Войти</button>
  </div>
</header>

<article  class="menu" id="mainArticle">
  <div>
    <a class="menu__link" href="#">Фильмы</a>
    <a class="menu__link" href="#">Телеканалы</a>
  </div>
<article >

<footer id="pageFooter">Footer</footer>
-->