<header class="pageHeader">
  <div class="div__header">
    <div>
      <img src="/assets/logo/logo.svg">
    </div>
    <div class="div__header__search">
      <input class="header__input" size="25" value="Поиск...">
      <button class="header__search__button">Найти</button>
    </div>
    <div class="div__header__button"> 
      <button class="header__button">Войти</button>
    </div>
  </div>
</header>

<nav class="menu">
  <div>
    <a routerLink="/films" routerLinkActive="active" class="menu__link">Фильмы</a>
  </div>
  <div>
    <a routerLink="/channels" routerLinkActive="active" class="menu__link">Телеканалы</a>
  </div>
</nav>

<div class="mainContent">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="footer__div"> 
    <div>
        <img src="/assets/logo/htc-cs-logo.svg">
    </div>
    <div class="footer__div__content">
      426057, Россия, Удмуртская Республика, г. Ижевск, ул. Карла Маркса, 246 (ДК «Металлург»)<br>
      +7 (3412) 93-88-61, 43-29-29<br>
      <a class="footer__link" href="htc-cs.ru">htc-cs.ru</a>
    </div>
  </div>
</footer>








<!--
<header class="header" id="pageHeader">
  <div>
    <img src="/assets/logo/logo.svg">
  </div>
  <div class="div__header__search">
    <input class="header__input" size="30" value="Поиск...">
    <button class="header__search__button">Найти</button>
  </div>
  <div class="div__header__button"> 
    <button class="header__button">Войти</button>
  </div>
</header>
<article  class="menu" id="mainArticle">
  <div>
    <a class="menu__link" href="#">Фильмы</a>
    <a class="menu__link" href="#">Телеканалы</a>
  </div>
<article >
<footer id="pageFooter">Footer</footer>
-->
