<h2>Новинки</h2>
<div class="content__film">
    <article class="card">
        <aside class="card__aside">
          <div>
            <img src="/assets/img/image.jpg" alt="Cat" class="card__image">
          </div>
            <div class="card__hover_text">
                <p>Офигенное описание мультика с котиками!</p>
            </div>
        </aside>
        <header class="card__header">
          <p class="card__subtitle">
            Мульт в кино. Выпуск №103. Некогда грустить!
          </p>
        </header>
      </article>
      
      <article class="card">
        <aside class="card__aside">
           <img src="/assets/img/image3.jpg" alt="Cat" class="card__image">
           <div class="card__hover_text">
            <p>Герой возвращается в Готэм, что бы вершить правосудие над негодяями</p>
        </div>
        </aside>
        <header class="card__header">
          <p class="card__subtitle">
            Бэтмен: Возвращение легенды.
          </p>
        </header>
      </article>
      
      <article class="card">
        <aside class="card__aside">
           <img src="/assets/img/image1.jpg" alt="Cat" class="card__image">
        </aside>
        <header class="card__header">
          <p class="card__subtitle">
            Стриптизерши.
          </p>
        </header>
      </article>

      <article class="card">
        <aside class="card__aside">
           <img src="/assets/img/image.jpg" alt="Cat" class="card__image">
        </aside>
        <header class="card__header">
          <p class="card__subtitle">
            Мульт в кино. Выпуск №103. Некогда грустить!
          </p>
        </header>
      </article>

</div>

<h2>Жанры</h2>
<div class="contentGenre">
   
    <div class="contentGenre__card--comedy">
        <div><img src="/assets/img/comedy.png" alt="Comedy"></div>
        <b>Комедии</b>
    </div>

    <div class="contentGenre__card--dramm">
       <b>Драмы</b> 
    </div>

    <div class="contentGenre__card--fantastic">
        <b>Фантастика</b>
    </div>

    <div class="contentGenre__card--horrors">
        <b>Ужасы</b>
    </div>

</div>